extends layout

block content
	#content_area(style = "overflow-x: hidden;")
		h2 Created by Robert Gross (20495129) and Bradley Morgan (21730745)
		br
		p Email address: 20495129@student.uwa.edu.au and 21730745@student.uwa.edu.au
		h2 Code References
		p 
			i HTML5 Canvas Mouse Coordinates Tutorial.
			br
			| Available: www.html5canvastutorials.com/advanced/html5-canvas-mouse-coordinates/. Last accessed 7th April 2016.
			br
			br
			i HTML5 Canvas.
			br
			| Available: www.w3schools.com/html/html5_canvas.asp. Last accessed 5th April 2016.
			br
			br
			i Window setInterval() Method.
			br
			| Available: www.w3schools.com/jsref/met_win_setinterval.asp. Last accessed 7th April 2016.
			br
			br
			i  HTML Tag. 
			br
			| Available: www.w3schools.com/tags/tag_button.asp. Last accessed 21st April 2016.
			br
			br
			i  CSS Navigation Bar. 
			br
			| Available: www.w3schools.com/css/css_navbar.asp. Last accessed 21st April 2016.	
		h2 Image References
		p
			| The following websites were used to source images for the game and the website.
			br
			strong Game Assets:
			br
			a(href='http://www.decalzone.com/cutout/tools/tools.shtml') Fire Hose
			br
			a(href='http://www.iconarchive.com/tag/bucket') Bucket
			br
			a(href='http://www.fotosearch.com/clip-art/helicopter.html') Helicopter
			br
			a(href='http://scrub-shoot-xna.googlecode.com/svn/trunk/sprites/') Fire Animation
			br
			a(href='http://secretmelody07.deviantart.com/art/CustomSprite-Tree-153482696?q=gallery%3Asecretmelody07%2F12480216&qo=7') Trees
			br
			br
			strong Other Images:
			br
			a(href='http://www.clipartbest.com/clipart-9cpoEBBKi') Fire Hat (Logo)
			br
			a(href='https://pixabay.com/en/keyboard-electronic-computer-311803/') Keyboard (Controls)
			br
			a(href='http://procollection.ru/settings/fire/') Fire (Header Background)
			br
			a(href='http://bushfirefront.com.au/') Bush Fire (Home Content)
			br
			a(href='http://blogs.newcastle.edu.au/blog/2013/02/18/report-reveals-personal-toll-on-firefighters/') Fire Fighters (Home Content)
			br
			a(href='http://www.sott.net/article/303495-The-Great-Chicago-Fire-of-1871') Fire (Favicon)
			br
		h2 NPM plugins used
		p - Express
		p - Passport
		p - socket.io
		p - Mongoose
		p - Password Hash
		p - Flash
		