extends layout

block content
	#index
		#title_container
			h1 Bushfire Battle
		a(href = "/rules/" class="button" style="background-color: #1C9ACA; left: 40%; bottom: 50px;") Rules
		a(href = "/game/" class="button" style="background-color: #8ED032; left: 45%; bottom: 50px;") Play!

	#index(style='background-image: url("/images/titleImage3.jpg");background-color:#cccccc;height:100%;width:100%; top: 0px;z-index:-999;')
