extends layout

block content
	#content_area
		h2 How to play Bushfire Battle
		br
		p
			| The goal of Bushfire Battle is to extinguish fire in a forest before it completely catches alight.
			| To do so, you have a several abilities at your disposal - but be careful - each ability has a cooldown
			| after you use it! Can you tame the forest fire before any damage is caused?
		h2 Win Condition
		p To win in Bushfire Battle, simply extinguish all the fires on the playing field.
		h2 Lose Condition
		p
			| To lose - if for some reason you want to - simply let over 75% of the forest catch on fire.
			h2 Controls
			br
		p 
			img(src='/images/qwer.png', alt='Q W E R')
			br
			| To swap between abilities.
		p
			img(src='/images/arrowkeys.png', alt='Arrow Keys')
			br
			|To move selection.
		p
			img(src='/images/space.png', alt='Space Bar')
			br
			| To extinguish fire within selection.

